#profile-widget .profile-button {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
#profile-widget .user-menu-label {
  position: absolute;
  top: 6px;
  right: 0px;
}
#profile-widget .has-unread-messages {
  font-size: 12px;
  top: -8px;
  right: -8px;
}
