.home {
  height: 100vh;
  width: 100%;
}

#control-bar {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 2;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}
#control-bar > * {
  margin: 0.5em;
  text-align: left;
}
#control-bar h5 {
  /* margin: 0.5em; */
  text-align: center;
}

#navigation-bar {
  position: fixed;
  bottom: 120px;
  right: 8px;
  z-index: 2;
}

/* .add-stuff-container {
  background: white;
  padding: 1em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.map-item:hover {
  opacity: 1;
  scale: 1.01;
}
.map-item {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 190px;
  min-height: 40px;
  opacity: 0.85;
  user-select: none;
  transform: translate(5px, -50%);
  word-wrap: break-word;
  color: white;
}

.map-item.ui.pointing.label:before {
  height: 1.5em;
  width: 1.5em;
}

.map-item::before {
  border-width: 0 0 1px 1px;
  border-color: inherit;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  bottom: auto;
  right: auto;
  top: 50%;
  left: 0;
  position: absolute;
  content: '';
  /* transform: rotate(45deg); */
  background-image: none;
  z-index: 2;
  width: 0.6666em;
  height: 0.6666em;
  transition: background 0.1s ease;
}

.chat-item {
  cursor: default;
}
.chat-item .title {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2em;
  width: 100%;
}
.chat-item .like-widget {
  display: inline-flex;
  align-items: center;
}
.chat-item .author-created {
  font-size: 0.9em;
  opacity: 0.8;
  margin: 0.5em 0;
}
.chat-item .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}
.chat-item .like-widget button {
  background: none !important;
  padding: 5px !important;
  /* margin: 5px 5px 5px -3px !important; */
}
.chat-item .comment-widget button {
  /* background: none !important; */
  /* padding: 5px !important; */
}
.chat-item .like-widget > .votes-count {
  font-size: 1.5em;
}
.chat-item .like-widget button.disabled {
  color: red;
}
.chat-item .replies-count {
  font-size: 0.9em;
  font-weight: 400;
  padding-top: 8px;
  /* text-align: right; */
  /* padding: 5px 15px 0 0; */
}
.chat-item .leave-comment {
  padding: 1em 0;
}
.chat-item .comments-section {
  padding: 1em 0;
}
.chat-item .comments-section h4 {
  opacity: 0.7;
}
.chat-item .comments-section .list .content .description {
  margin: 0.5em 0;
  opacity: 0.8;
  font-size: 0.8em;
}
.chat-item .comments-section .list .content .header {
  font-weight: 500;
  padding: 10px 5px;
}

.add-new-chat form label {
  opacity: 0.7;
}
.add-new-chat form textarea {
  min-height: 150px;
}

#auth-bar {
  position: fixed;
  top: 10px;
  right: 55px;
  z-index: 2;
}
#sign-out-button {
  background-color: white !important;
}

#login-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(50, 50, 50, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-container .segment {
  padding: 1.5em;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}
#login-container #firebaseui-auth-container {
  margin: 3em 1.5em;
}

#center-pin {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.splash {
  text-align: center;
}

.splash-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .splash-logo {
    animation: splash-logo-spin infinite 10s linear;
  }
}

.splash-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes splash-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
